Configs/fish_linux/.config/fish/functions
Configs/fish_macos/.config/fish/functions
Configs/ghostty/.config/ghostty/config
Configs/ghostty_linux/.config/ghostty/shaders
Configs/ghostty_linux/.config/ghostty/themes
Configs/ghostty_macos/.config/ghostty/shaders
Configs/ghostty_macos/.config/ghostty/themes
